@font-face {
    font-family: 'cyberspace';
    src: url("resources/Cyberspace.otf");
}

html, body {
    color: #010439;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scrollbar-color: #38798d #070B53;
}

html {
    background: linear-gradient(0deg, #38798d, #070B53);
    background-attachment: fixed;
}

h1, header {
    font-family: cyberspace;
    color: #010439;
    font-size: 40px;
    margin: 0;
}

h2 {
    font-family: cyberspace;
    color: #172447;
    font-size: 25px;
    margin: 0;
}

h1::first-letter, h2::first-letter{
    font-weight: bold;
    color: #060c85;
}

p, ul, li, a, table {
    font-family: 'Courier New';
}

a {
    color: #3C5794;
    text-decoration:none;
}

a:hover {
    color: #070B53
}

a:visited {
    color: #3C5794
}

table, tr, td, th {
    border: 2px #9dbecc solid;
    padding: 5px;
    border-collapse: collapse;
}

header {
    background-color: #DCEDF3;
    text-align: center;
    border: #98C1DF solid 2px;
}

section {
    margin: 0;
}

nav {
    width: 20%;
    float: right;
    background-color: #DCEDF3;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    border: #98C1DF solid 2px;
    z-index:100;
}

.icon {
    width: 200px;
    float: right;
    margin-left: 10px;
}

.thumbnail{
    width:200px;
    margin:5px;
    transform:scale(1,1);
    transition: transform 0.2s ease-in-out;
}

.thumbnail:hover{
    transform:scale(1.05,1.05);
    animation: desaturate 0.2s ease-in-out both;
}

.characters{
    border-radius:15px;
    background-color: #98C1DF;
    width:150px;
    margin:5px;
}

.gallery{
    display:inline-block;
}

.gallery p{
    text-align:center;
}

.quote {
    background-color: #98C1DF;
    padding: 20px;
    margin: 0 50px 0 50px;
}

.footnote {
    font-size: 10px;
    display: inline;
    float: right;
    color: #3C5794;
}

.lightbox{
    text-decoration:none;
}

.lightbox-target {
    position: fixed;
    z-index: 800;
    width: 100%;
    background: #01021def;
    display: none;
    overflow: hidden;
}

.lightbox-target img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

a.lightbox-close {
    background-image: url("resources/x-symbol.svg");
    width: 80px;
    margin: 10px;
    height: 80px;
    position: absolute;
    top: -80px;
    right: 5px;
    background-size: 100%;
}

.lightbox-target:target {
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.lightbox-target:target img {
    max-height: 80%;
    max-width: 90%;
    border:2px solid white;
}

.lightbox-target:target a.lightbox-close {
    top: 0;
}

#container {
    width: 90%;
    height:100%;
    display:block;
    margin: auto;
    margin-top: 20px;
}

#content {
    width: 75%;
    float: left;
    background-color: #DCEDF3;
    border: #98C1DF solid 2px;
    padding: 10px;
}

#goUp{
    background-color:#070B53;
    width:35px;
    height:35px;
    margin:auto;
    align-items:center;
    padding:5px;
    border-radius:10px;
    position:fixed;
    bottom:20px;
    right:20px;
    z-index:100;
}

@media only screen and (max-width: 630px) {
    nav {
        width: auto;
        margin-bottom: 30px;
        position:static;
    }

    nav ul li {
        display: inline-block;
    }

    li::after{
        content: " | ";;
    }
    li:last-child:after {
        content: "";
    }

    .icon {
        width: 100%;
        float: none;
        margin: 0
    }

    .quote {
        margin: 0
    }

    .gallery{
        width:49%;
    }

    .thumbnail, .characters{
        width:100%;
        margin:0;
    }
    
    .thumbnail:hover{
        transform:scale(1.01,1.01);
    }

    a.lightbox-close{
        width:40px;height:40px
    }

    #content {
        width: auto;
        height:auto;
    }
}

@keyframes desaturate{
    0%{
        filter:saturate(100%)
    }
    100%{
        filter:saturate(0%)
    }
}